.root {
    -fx-background-color: #000000;
    -fx-background-image: url("bg2.png");
    -fx-background-repeat: no-repeat;
   
}
.button {
    -fx-background-color: transparent;
}
.button:hover {
    -fx-background-color: transparent;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

